.ForgotPasswordMainContainer{
    width: 100vw;
    height: 100vh;
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HeaderMain{
    width: 100vw;
    height: 8vh;
    /* border: solid red; */
    background-color: #A03037;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.BookStoreLogo{
    position: relative;
    left: -500px;
}
.BookStoreText{
    color: white;
    font: 20px Roboto;
    opacity: 1;
    position: relative;
    left: -490px;
}
.MiddleContainer{
    width: 25vw;
    height: 47vh;
    /* border: solid green; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.MiddleHeader{
    width: 25vw;
    height: 7vh;
    /* border: solid blue; */
    font-family: normal normal medium 25px/33px Roboto;
    color: #0A0102;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}
.MiddleContainerForgot{
    width: 25vw;
    height: 40vh;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
}
.MiddleText{
    width: 17vw;
    height: 5vh;
    /* border: solid green; */
    font-family: normal normal medium 25px/33px Roboto;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 50px;
    color: gray;
}
.LoginInput{
    /* border: solid green; */
    margin-top: 10px;
    margin-left: 50px;
}
.CreateAccount{
    width: 100%;
    height: 15vh;
    /* border: solid green; */
    background-color: #F9F9F8;
    border: 1px solid #E4E4E4;
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}